@media screen and (max-width:768px) {
    .nav {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media screen and (max-width:568) {
    .menu {
        gap: 20px;
    }
}

@media screen and (max-width:420px) {
    .nav {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }
}